/* navbar */
.navbar .logo {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin: 1em 0;
}

.navbar ul {
    text-align: center;
    margin: 0 auto;
    float: none;
}

.navbar ul li {
    display: inline-block;
    margin-bottom: 1em;
}

/* showcase */
#showcase .display-1 {
    margin: 0;
    margin-top: 1em;
    margin-bottom: .5em;
}

/* features */
#features .card-1{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#features .features-row {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.features-row p {
    margin-bottom: 1rem;
}

.card-1 img {
    display: block;
    margin: 0 auto;
   
}

#features img {
    width: 100%;
}

/* banner */

#banner{
    background: url('/img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 5px;
    padding-bottom: 5px;
}

#banner div{
    display: flex;
}

#banner .banner-text {
    float: none;
  margin-top: 2.5em;
    width: 100%;
    color: black;
    font-size: 1em;
}

#banner .banner-button {
    float: none;
    width: 100%;
    text-align: center;
}

/* about */
#about p {
    width: 100%;
    text-align: justify;
}

#footer {
    text-align: center;
    padding: 3em 0;
    background: url('/img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 10px;
    padding-bottom: 10px;
}